<!DOCTYPE html>
<html>

<div class="ui-title" data-role="header" align="left" data-position="fixed">
  <a href="<%= meetings_path %>" class="ui-btn-left" data-theme="a" data-rel="" data-icon="back">Back</a>
  <h1>Profile</h1>
</div>


</html>