<!DOCTYPE html>
<html>

<div class="ui-title" data-role="header" align="left" data-position="fixed">
  <a href="<%= meetings_edits_path %>" class="ui-btn-left" data-theme="a" data-rel="" data-icon="back">Back</a>
  <h1>Rocket Tips</h1>
</div>

<%= render 'form' %>

</div>
</html>