.tips_count {
    /*font-size: 1em;*/
    color: #979797;
    position: relative;
    top: 4px;
}

.leaderboard {
    font-size: .9em;
}

.correct {
    color: limegreen;
}

.wrong {
    color: #e00000;
}

.open {
    color: green;
}

.ui-header .ui-title {
    overflow: visible !important;
}

.fixture .content {
    float: left;
}

.fixture .ui-btn-text {
    position: static;
}

.fixture .choice_value {
    float: right;
    padding-top: 3px;
    margin-right: -5px;
}

.choice_value {
    color: #686868;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    right: 39px;
    text-align: right;
    font-size: 18px;
}

.fixture.correct:not(.ui-btn-active) span, .fixture.correct:not(.ui-btn-active) div:not(.content) {
    color: #32cd32;
}

.fixture.wrong:not(.ui-btn-active) span, .fixture.wrong:not(.ui-btn-active) div:not(.content) {
    color: red;
}

.fixture-kickoff {
    font-size: .8em;
    position: relative;
    top: 2px;
    left: 16px;
    color: #979797;
}

.kickoff {
    font-size: .8em;
    position: relative;
    top: 2px;
    color: #979797;
}

.main-font {
    font-size: 14px;
}
.info-txt {
    font-size: .7em;
    color: #686868;
}

.points-user {
    font-size: .9em;
}

.player-goals {
    font-size: .9em;
}

.bet-versus {
    font-size: .9em;
    line-height: 6em;
}

.badge-size {
    max-width: 100px;
    max-height: 80px;
}

.strip-size {
    max-width: 12px;
    max-height: 12px;
}

.percent-points {
    font-size: .7em;
    color: #979797;
}

.payout-icon {
    color:  #C9960C
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    text-shadow: none;
}

.label[href]:hover,
.label[href]:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.label:empty {
    display: none;
}

.label-default {
    background-color: #999999;
    margin: 0 0 0 10px;
}

.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #808080;
}

.label-primary {
    background-color: #428bca;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #3071a9;
}

.label-success {
    background-color: #5cb85c;
    margin: 0 0 0 10px;
}

.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #449d44;
}

.label-info {
    background-color: #5bc0de;
    margin: 0 0 0 10px;
}

.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #31b0d5;
}

.label-warning {
    background-color: #f0ad4e;
    margin: 0 0 0 10px;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #ec971f;
}

.label-danger {
    background-color: #d9534f;
    margin: 0 0 0 10px;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #c9302c;
}

div.ui-btn, input[type="submit"] {
width: 200px !important;
}

.custom-li {
    padding: 0 !important;
    border-width:0 !important;
}

.custom-bottom-li {
    border-top-width: 0 !important;
}

.custom-collapsible {
    margin: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-width:0 !important;
}

.custom-textbox {
    width : 200px;
    margin: 20px 0px 0px 20px;
}​

.custom-list {
    background: white  !important;
}