.ui-page .ui-header {
    background: #F23434 !important;
    /*background: #70A668 !important;*/
    border-color: lightgrey !important;
    border:0 !important;
    text-shadow: none !important;
}

.ui-page .ui-footer {
    background: #F23434 !important;
    /*background: #70A668 !important;*/
    border-color: lightgrey !important;
    border:0 !important;
    text-shadow: none !important;
}

.ui-page .ui-btn {
    background:transparent;
    border:1 !important;
    border-color: lightgrey;
    text-shadow: none !important;
    /*border-radius:0 !important;  #makes buttons square*/
}

* {
    font-family: "Helvetica Neue" !important;
    font-weight: normal !important;
}

.ui-link-inherit {
    text-shadow: none !important;
    color: black !important;
}

.ui-btn-active {
    color: #F23434 !important;
    /*color: #70A668 !important;*/
    background: lightgrey !important;
    /*background: #FEFF77 !important;*/
}

.ui-header .ui-btn {
    /*width: 60px;*/
    background:transparent;
    border:0 !important;
    border-color: transparent;
    text-shadow: none !important;
    /*border-radius:0 !important;  makes buttons square*/
}
